/* Your styles here */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&family=Open+Sans:ital@0;1&display=swap");

body {
  /* # #393d41 – 1.2rem – Open Sans – interlinea 1.65 */
  min-width: 400px;
  font-family: "Open Sans", sans-serif;
  color: #393d41;
  line-height: 1.65;
  letter-spacing: -2px;
  font-size: 1.25rem;
}

/* header */
header {
  line-height: 1.5;
}

#logo {
  text-align: center;
  background-color: black;
  padding: 25px;
}

#logo img {
  max-width: 150px;
  max-height: 50px;
}

#hero {
  background-image: url("../img/banner.jpg");
  background-size: contain;
  text-align: center;
  padding: 35px 20px 28px 20px;
}

#hero h1 {
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  color: #2c9dca;
  font-size: 2em;
  line-height: 1;
}

#hero p {
  padding-bottom: 30px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

#hero button {
  font-family: "Montserrat", sans-serif;
  color: white;
  border: transparent;
  border-radius: 5px;
  background-color: #f04c2f;
  padding: 10px 25px 10px;
  font-size: 0.7em;
  cursor: pointer;
}

/* main */
main {
  text-align: center;
}

.sotto-titoli {
  padding: 35px 20px 28px 20px;
}

.sotto-titoli h4 {
  font-family: "Montserrat", sans-serif;
  color: #2c9dca;
  font-size: 1em;
  letter-spacing: 0px;
}

.sotto-titoli p {
  font-size: 1em;
  letter-spacing: 0px;
  padding-block: 15px;
}

#logo-pc {
  text-align: center;
  padding-inline: 50px;
}

#logo-pc img {
  border-radius: 50%;
  width: 100%;
}

/* testimonial */

.blocco-rosso {
  background-color: #e22d0e;
  padding-block: 45px 20px;
}
.testimonial h2 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1.5em;
  letter-spacing: 0.3px;
}

.testimonial p {
  padding: 15px;
  font-style: italic;
  color: white;
  font-size: 1em;
  letter-spacing: -0.5px;
  padding-block: 15px;
}

#ceo p {
  font-size: 0.8em;
  color: white;
  letter-spacing: -0.7px;
}

#ceo .mario {
  letter-spacing: -0.7px;
  font-size: 1.4em;
  color: white;
}

/* card */

#card {
  padding: 20px;
}

#card img {
  width: 100%;
}

#card .card {
  border: 2px solid #dee1e3;
  margin-top: 30px;
}

#card .card h4 {
  font-family: "Montserrat", sans-serif;
  color: #2c9dca;
  font-size: 1em;
  letter-spacing: 0px;
}

#card .card p {
  font-size: 1em;
  letter-spacing: -0.8px;
  padding: 15px 20px 30px;
}

/* footer */

footer #foot {
  background-color: #25a2c3;
  color: white;
  text-align: center;
  padding: 40px;
  margin-top: 40px;
}

footer div h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  letter-spacing: 0px;
}

footer #contatti {
  padding-block: 25px 25px;
  margin-top: 0px;
}

footer p {
  font-size: 0.9em;
  color: #c8e7f0;
}

footer #foot a {
  color: #c8e7f0;
}

footer i {
  letter-spacing: 1.2px;
  font-size: 0.8em;
}

footer .back-icon {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 3px;
}

footer #contenitore {
  width: 100%;
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

footer #contenitore p {
  display: inline;
  letter-spacing: -0.3px;
}
